<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.footballstore.mapper.UserMapper">
    <resultMap id="userResult" type="com.store.footballstore.entity.User"></resultMap>

    <select id="findByOpenId" parameterType="String" resultMap="userResult">
        select * from table_userinfo where openid=#{openid}
    </select>
</mapper>